<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic OCR {{statusMsg}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]='image'></ion-img>
  <ion-button expand="full" (click)="captureImage()">Capture Image</ion-button>
  <ion-button expand="full" (click)="recongnizeImage()" [disabled]="!workerReady">Recongize Image</ion-button>

  <ion-card *ngIf="workerReady && captureProgress > 0">
    <ion-card-header>
      <ion-card-title>
        Capture progress: {{captureProgress}}%
      </ion-card-title>
      <ion-card-content>
        {{ocrResult}}
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>